[submodule "spu-llvm"]
	path = spu-llvm
	url = https://gitlab.itwm.fraunhofer.de/kai_plociennik/spu-llvm.git
[submodule "spu-runtime"]
	path = spu-runtime
	url = https://gitlab.itwm.fraunhofer.de/hellerm/spu-runtime.git
